In [31]:
#!pip install geopy

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('taxi_NYC_train.csv')

On cherche à étudier les caractéristiques des trajets des taxis new yorkais. Pour cela, nous allons calculer 4 indicateurs :

- la vitesse moyenne de chaque trajet (en km/h)
- le nombre de trajets effectués en fonction du jour de la semaine
- le nombre de trajets effectués en fonction de l’horaire de la journée par tranche de 4h.
- le nombre de km parcourus par jour de la semaine

De plus, chaque indicateur sera illustré par un graphique.

In [14]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [18]:
df.shape

(1458644, 11)

In [15]:
df.vendor_id.value_counts()

2    780302
1    678342
Name: vendor_id, dtype: int64

In [17]:
df.store_and_fwd_flag.value_counts()

N    1450599
Y       8045
Name: store_and_fwd_flag, dtype: int64

In [19]:
df.passenger_count.value_counts()

1    1033540
2     210318
5      78088
3      59896
6      48333
4      28404
0         60
7          3
9          1
8          1
Name: passenger_count, dtype: int64

In [26]:
df.trip_duration.min(),df.trip_duration.max()

(1, 3526282)

In [29]:
df.trip_duration.max()/60/60/24

40.81344907407408

In [35]:
from geopy.geocoders import Nominatim

In [148]:
geolocator = Nominatim(user_agent="my-application")
location = geolocator.reverse("40.767937, -73.982155") #latitude, longitude
#destination = geolocator.reverse("40.765602", "-73.964630")
print(location.address,)

Columbus Circle, Manhattan Community Board 4, New York, Manhattan, New York County, New York, United States of America

In [149]:
geolocator = Nominatim(user_agent="my-application")
destination = geolocator.reverse("40.765602", "-73.964630")
print(destination.adress)

C:\Users\utilisateur\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Unable to parse the string as Point: "Failed to create Point instance from string: unknown format.". Using the value as-is for the query. In geopy 2.0 this will become an exception.

ValueError: Must be a coordinate pair or Point

In [42]:
from geopy.distance import geodesic

In [49]:
start = (40.767937, -73.982155)
end = (40.765602, -73.964630)
print(geodesic(start,end).m)
print(geodesic(start,end).m/455)
print((geodesic(start,end).m/455)*3.6)

1502.2029520818444
3.3015449496304274
11.885561818669538

In [65]:
df.dropoff_latitude.isnull().value_counts()

False    1458644
Name: dropoff_latitude, dtype: int64

In [96]:
#PLA = df.pickup_latitude.to_list()
#PLO = df.pickup_longitude.to_list()
#DLA = df.dropoff_latitude.to_list()
#DLO = df.dropoff_longitude.to_list()
#liste = []
#for i in range(len(df)):
#    liste.append(geodesic((PLA[i],PLO[i]),(DLA[i],DLO[i])).m)
#    print(f"{((i+1)/len(df))*100:.2f}",end='\r')
df = pd.read_json(r'df_vitesse.json')

In [83]:
#df['distance'] = liste

In [84]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,distance
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1502.171837
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1808.659969
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6379.687175
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1483.632481
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1187.037659
...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,1227.089623
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,6046.211843
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,7821.531849
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,1092.524008
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,1133.655282

In [85]:
#df['speed_in_kmh'] = (df['distance']/df['trip_duration'])*3.6

In [86]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,distance,speed_in_kmh
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1502.171837,11.885316
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1808.659969,9.820778
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6379.687175,10.813029
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1483.632481,12.450063
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1187.037659,9.823760
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,1227.089623,5.678050
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,6046.211843,33.231088
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,7821.531849,36.855386
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,1092.524008,10.544468
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,1133.655282,20.611914

In [87]:
df.speed_in_kmh.mean()

14.42606809672098

In [146]:
df.speed_in_kmh.sort_values()

811699        0.000000
908405        0.000000
241402        0.000000
1344609       0.000000
1430879       0.000000
              ...
377068     4090.789812
974378     5253.665463
184925     5638.682980
910072     6874.214785
1176337    9279.581773
Name: speed_in_kmh, Length: 1458644, dtype: float64

In [97]:
df.distance.max()

1240510.2556291923

In [94]:
# POINT DE SAUVEGARDE
#df.to_json(r'df_vitesse.json')

In [114]:
import datetime

In [119]:
import time

In [116]:
d = df.pickup_datetime[0].split(' ')[0].split('-')

In [ ]:
#start_time = time.time()
#print("--- %s seconds ---" % (time.time() - start_time))

In [121]:
#week_days= ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
#day_list = df.pickup_datetime.to_list()
#liste_jours = []
#cc = 0
#start_time = time.time()
#for i in day_list:
#    cc+=1
#    l=list(map(int,i.split(' ')[0].split('-')))
#    day=datetime.date(l[0],l[1],l[2]).weekday()
#    liste_jours.append(week_days[day])
#    print(f"{((cc)/len(df))*100:.2f}",end='\r')
#print("--- %s seconds ---" % (time.time() - start_time))

# Done in 352 seconds

--- 352.56000804901123 seconds ---

In [122]:
#df['jours'] = liste_jours

In [123]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,distance,speed_in_kmh,jours
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1502.171837,11.885316,Monday
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1808.659969,9.820778,Sunday
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6379.687175,10.813029,Tuesday
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1483.632481,12.450063,Wednesday
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1187.037659,9.823760,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,1227.089623,5.678050,Friday
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,6046.211843,33.231088,Sunday
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,7821.531849,36.855386,Friday
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,1092.524008,10.544468,Tuesday
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,1133.655282,20.611914,Tuesday

In [124]:
df.jours.value_counts()

Friday       223533
Saturday     220868
Thursday     218574
Wednesday    210136
Tuesday      202749
Sunday       195366
Monday       187418
Name: jours, dtype: int64

In [137]:
#creneaux = ['0-4','4-8','8-12','12-16','16-20','20-24']
#day_list = df.pickup_datetime
#liste_creneau = []
#cc = 0
#start_time = time.time()
#for i in day_list:
#    cc+=1
#    liste_creneau.append(int(i.split(' ')[1].split(':')[0])//4)
#    print(f"{((cc)/len(df))*100:.2f}%",end='\r')
#print("--- %s seconds ---" % (time.time() - start_time))

# Done in 350 seconds

--- 350.69723105430603 seconds ---

In [136]:
int(df.pickup_datetime[0].split(' ')[1].split(':')[0])//4

4

In [138]:
#df['creneaux'] = liste_creneau

In [139]:
df.creneaux.value_counts()

4    321704
5    318534
3    289449
2    268629
0    140686
1    119642
Name: creneaux, dtype: int64

In [142]:
df.groupby('jours').distance.sum()

jours
Friday       7.590207e+08
Monday       6.688010e+08
Saturday     7.365967e+08
Sunday       7.267364e+08
Thursday     7.479805e+08
Tuesday      6.786025e+08
Wednesday    7.031962e+08
Name: distance, dtype: float64

In [143]:
# POINT DE SAUVEGARDE
#df.to_json(r'df_vitesse.json')